html {
  @include font(10px, 10px, 400);

  @media (max-width: $desktop) {
    @include font(10px, 10px, 400);
  }

  @media (max-width: $laptop) {
    @include font(8px, 8px, 400);
  }

  @media (max-width: $tablet) {
    @include font(10px, 10px, 400);
  }
}

body {
   @include font(1.6rem, 2.1rem, 400);
   margin: 0;
   padding: 0;
   position: relative;
   min-width: 320px;
   margin: 0 auto;
   font-family: $myriad;
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: 100%;
   background-color: $bgcolor;
   // color: $white;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
   padding-top: 7.2rem;
//   padding-bottom: 7.6rem;

  @media (max-width: $laptop) {
    // шаблон медиа-запроса desktop-first
  }

  @media (min-resolution: $extra) {
    // шаблон для фонового изображения на экранах с повышенной плотностью пикселей
  }

   @media (max-width: $mobile) {
      padding-top: 2.4rem;
      font-size: 1.4rem;
   }


}

// button {
//   font-family: $myriad;
// }

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
   margin: 0;
}

main {
  position: relative;
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}

.justify-align-center {
  @media (max-width: $mobile) {
    justify-content: center;
  }
}

.align-center {
  align-items: center;
}

.title-big {
   font-family: $mossport;
   font-size: 9rem;
   font-style: normal;
   font-weight: 400;
   line-height: 101%; /* 90.9px */
   text-transform: uppercase;

   @media (max-width: $mobile) {
      font-size: 5rem;
   }
}

.title-medium {
   font-family: $mossport;;
   font-size: 6rem;
   font-style: normal;
   font-weight: 400;
   line-height: 101%; /* 60.6px */
   text-transform: uppercase;

   @media (max-width: $mobile) {
      font-size: 3.5rem;
   }
}
