.concert-container {
   position: relative;

   .pseudo-top {
      position: absolute;
      display: flex;
      flex-direction: row;
      right: 0;
      top: 0;

      // @media (max-width: $tablet) {
      //    top: -3rem;
      //  }

      .pseudo-top-crosses {
         margin-top: -10rem;

         @media (max-width: $tablet) {
            display: none;
          }
      }

      .arrows {
         @media (max-width: $tablet) {
            width: 11.5rem;
          }
      }
   }
}

.concert-wrapper {
   padding-top: 14.5rem;

   @media (max-width: $tablet) {
      padding-top: 10rem;
    }

    @media (max-width: $mobile) {
      padding-top: 4rem;
    }
}

.concert {
   background-color: $white;

   &__title {
      color: $green;
      font-family: $mossport;

      @media (max-width: $mobile) {
         color: $black;
       }
   }

   &__text {
      color: $black;
      max-width: 84.4rem;
      margin-block: 3.6rem 11.1rem;

      @media (max-width: $mobile) {
         max-width: 22.4rem;
         margin-block: 2.9rem 12rem;
       }
   }



   //Slider


   // .slider-main-wrapper {
   //    padding-bottom: 17rem;
   //    position: relative;

   // }

   .slider-wrapper {
      max-width: 125rem;
      margin: 0 auto;
      padding: 0 3rem; 
      position: relative;

      @media (max-width: $laptop) {
         max-width: 116rem;
         padding: 0rem;
      }

      @media (max-width: $tablet) {
         min-width: initial;
         max-width: initial;
         padding: 0 24px;
       }
     
       @media (max-width: $mobile) {
         padding: 0 16px;
       }
      

       .slider__btn {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 10;

         @media (max-width: $laptop) {
            top: -6rem;
            transform: translateY(0);
            
         }
   
         &--prev {
            left: 0;  

            @media (max-width: $tablet) {
               padding-left: 2.4rem;
             }

             @media (max-width: $mobile) {
               padding-left: 1.6rem;
             }
         }
   
         &--next {
            right: 0;  

            @media (max-width: $laptop) {
               left: 5.81rem;
            }

            @media (max-width: $tablet) {
               padding-left: 2.4rem;
               left: 4.81rem;
             }

             @media (max-width: $mobile) {
               padding-left: 1.6rem;
             }
         }

         
      }

      .concert-button-prev::after,
      .concert-button-next::after {
         display: none;
      }
 
   }
    
   .slider {
      width: 116rem;      
      margin: 0 auto;    
      overflow: hidden;

      @media (max-width: $tablet) {
         width: auto;
       }
   } 

   &__slider-item-name {
      color: $black;
      font-family: $mossport;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 101%; /* 35.35px */
      text-transform: uppercase;
      margin-bottom: 1.1rem;
   }

   &__slider-item-time {
      color: $black;
      font-family: $myriad;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 2.5rem;

   }

   &__slider-item-image-wrapper {
      width: 100%;
      overflow: hidden;
      clip-path: polygon(
         0 0,         /* верхний левый угол */
         100% 0,      /* верхний правый угол */
         100% 65%,    /* правый нижний угол квадрата */
         50% 100%,    /* нижний центр — вершина треугольника */
         0 65%        /* левый нижний угол квадрата */
      );

      img {
         width: inherit;
      }
   }

   .svg-bottom-container {
      @media (max-width: $mobile) {
         padding: 0;
         margin: 0;
      }
   }

   &__svg-bottom {
      position: relative;
      display: flex;
      justify-content: center;
      padding-block: 13rem;

      @media (max-width: $tablet) {
         padding-block: 0rem 11.2rem;
         justify-content: end;
      }

      .big-green-arrow-pseudo {
         position: absolute;
         bottom: 0rem;
         left: 0rem;

         @media (max-width: $laptop) {
            width: 18.3rem;
            bottom: auto;
            top: 5rem;
         }

         @media (max-width: $tablet) {
            top: -8rem;
            bottom: auto;
         }
      }

      .dots {
         @media (max-width: $tablet) {
            display: none;
          }
      }

      .crosses {
         display: none;

         @media (max-width: $tablet) {
            display: block;
          }
      }

   }


   

}