.footer {
   background-color: $white;

   .footer-wrapper {
      padding-block: 13.9rem;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: $tablet) {
         padding-block: 15rem 5.2rem;
         flex-direction: column;
         gap: 5.7rem;
      }

      @media (max-width: $mobile) {
         padding-block: 11.4rem 5.2rem;
      }

      .pseudo-cross {
         position: absolute;
         width: 100%;
         left: 59%;
         top: 0;

         @media (max-width: $mobile) {
            left: 50%;
            transform: translateX(-50%);
         }
      }
   }

   &__title {
      color: $green;
      margin-bottom: 6.6rem;

      @media (max-width: $tablet) {
         margin-bottom: 3.7rem;
      }
   }

   &__emails-wrapper {
      display: flex;
      flex-direction: row;
      gap: 19.5rem;
      margin-bottom: 6.9rem;

      @media (max-width: $tablet) {
         gap: 6.3rem;
         margin-bottom: 5rem;
      }
   }

   &__emails-title {
      color: $black;
      font-family: $mossport;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 140%; /* 49px */
      text-transform: uppercase;
      margin-bottom: 1.8rem;

      @media (max-width: $mobile) {
         font-size: 2.4rem;
         margin-bottom: 0.9rem;
      }
   }

   &__emails-items a {
      color: $black;
   }

   &__info {
      color: $black;
      font-family: $myriad;
      font-size: 2rem;
      font-weight: 400;
      line-height: 110%; /* 22px */

      @media (max-width: $mobile) {
         font-size: 1.4rem;
      }
   }

   &__info-text {
      margin-bottom: 2rem;

      @media (max-width: $mobile) {
         margin-bottom: 1.4rem;
      }
   }

   &__info li {
      margin-left: 0.5rem;
   }


   &__right-side {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10.5rem;

      @media (max-width: $tablet) {
         flex-direction: column-reverse;
         align-self: normal;
         justify-content: flex-start;
         gap: 4.7rem;
      }

      .dots {

         @media (max-width: $tablet) {
            align-self: flex-end;
         }


         @media (max-width: $mobile) {
            width: 16.4rem;
         }
      }
   }

   .social-media-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;
      margin-bottom: 2.13rem;

      @media (max-width: $tablet) {
         justify-content: flex-start;
      }

      @media (max-width: $mobile) {
         gap: 2rem;
         margin-bottom: 2rem;

      }
   }

   .social-media-docs {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 0.4rem;

      @media (max-width: $tablet) {
         justify-content: flex-start;
      }
   }

   .social-media-docs a {
      color: $green;
      text-align: right;
      font-family: $myriad;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-decoration: none;
      opacity: 0.4;
      transition: 0.3 ease;

      &:hover {
         opacity: 1;
      }

      @media (max-width: $tablet) {
         text-align: left;
      }
   }
}



















