.header {
   padding: 1.6rem 4.3rem 2rem 3.2rem;
   background-color: $black;
   margin-bottom: 4.4rem;

   @media (max-width: $mobile) {
      display: none;
    }

   clip-path: polygon(
      0% 0%,
      100% 0%,
      100% calc(100% - 30px),
      calc(100% - 30px) 100%,
      0% 100%
   );

   &__nav {
      padding-inline: 5rem 2rem;
   }

   &__nav-list{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
   }

   &__nav a{
      text-decoration: none;
   }

   &__nav-item {
      font-family: $myriad;
      font-size: 1.5rem;
      color: $white;

      &:hover {
         text-decoration: underline;
      }
   }

   &__nav-item-btn {
      font-family: $myriad;
      font-size: 1.5rem;
      padding: 0.65rem 0.8rem;
      background-color: $bgcolor;
      color: $black;
      transition: 0.3s ease;

      &:hover {
         color: $white;
         background-color: $green;

      }
   }

}


