.info {
   background-color: $white;
   // padding-bottom: 17rem;
   
   .info-container {
      position: relative;

      .half-green-pseudo {
         position: absolute;
         top: 0;
         right: 3rem;
      }

      .dots-pseudo {
         position: absolute;
         top: 10rem;
         left: 30%;
      }

      .crosses-pseudo {
         position: absolute;
         top: 50rem;
         right: 3rem;
      }

      
   }

   .info-wrapper {
      padding-top: 14.5rem;
      // padding-block: 14.5rem 17rem;
   }

   &__title {
      font-family: $mossport;
      font-size: 6rem;
      font-weight: 400;
      line-height: 101%; 
      text-transform: uppercase;
      color: $green;
   }

   &__list {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      margin-block: 9.3rem 12.8rem;
   }

   &__item-wrapper {
      padding: 2.4rem 1.6rem 3.2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background-color: $black;
      max-width: 26rem;

      clip-path: polygon(
         0% 0%,
         100% 0%,
         100% calc(100% - 40px),
         calc(100% - 40px) 100%,
         0% 100%
      );
   }

   &__item-title {
      font-family: $mossport;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 101%; /* 35.35px */
      text-transform: uppercase;
      color: $green;
   }

   &__item-text {
      font-family: $myriad;
      font-size: 1.5rem;
      font-weight: 400;
   }

   &__svgs-wrapper {
      display: flex;
      flex-direction: row;
      gap: 2.8rem;
   }

   &__content {
      margin-block: 12.86rem 6.9rem;
   }

   &__text {
      margin-top: 5.4rem;
      font-family: $myriad;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: normal;
      max-width: 84.4rem;
      color: $black;
   }

   // Slider

   .slider-main-wrapper {
      padding-bottom: 17rem;
      position: relative;

      .big-green-arrows-pseudo {
         position: absolute;
         bottom: 0rem;
         left: 38rem;
      }
   }

   .slider-wrapper {
      max-width: 125rem;
      margin: 0 auto;
      padding: 0 3rem; 
      position: relative;
      

      .slider__btn {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 10;
   
         &--prev {
            left: 0;  
         }
   
         &--next {
            right: 0;  
         }
      }

      .info-button-prev::after,
      .info-button-next::after {
         display: none;
      }
 
   }
    
   .slider {
      width: 116rem;      
      margin: 0 auto;    
      overflow: hidden;
   } 

   &__slider-item {
      display: flex;
      flex-direction: column;
      gap: 2.1rem;
      background-color: $black;
      padding: 4.25rem 1.9rem 2.6rem 3.7rem;
      clip-path: polygon(
         0% 0%,
         100% 0%,
         100% calc(100% - 40px),
         calc(100% - 40px) 100%,
         0% 100%
      );
   }

   &__slider-item-title {
      font-family: $mossport;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 101%; 
      text-transform: uppercase;
      color: $white;
   }

   &__slider-item-content {
      font-family: $myriad;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
      color: $white;
   }

   &__slider-item-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      font-family: Mossport;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 110%; /* 27.5px */
      text-transform: uppercase;
      color: $green;
      

    
      li {
        position: relative;
        padding-left: 2rem; 

        &::before {
            content: '•'; 
            position: absolute;
            left: 0;
            top: 0;
         }
      }
   } 
}