.info {
   background-color: $white;
   // padding-bottom: 17rem;
   
   .info-container {
      position: relative;

      .half-green-pseudo {
         position: absolute;
         top: 0;
         right: 3rem;

         @media (max-width: $tablet) {
            width: 30rem;
         }

         @media (max-width: $mobile) {
            width: 23.8rem;
            right: -3.3rem;
         }
      }

      .dots-pseudo {
         position: absolute;
         top: 6.8rem;
         left: 40%;

          @media (max-width: $laptop) {
            display: none;
         }
      }

      .crosses-pseudo {
         position: absolute;
         top: 47rem;
         right: 3rem;

         @media (max-width: $tablet) {
            display: none;
         }
      }

      
   }

   .info-wrapper {
      padding-top: 14.5rem;
      padding-bottom: 14.5rem;

      @media (max-width: $tablet) {
         padding-top: 8.5rem;
         padding-bottom: 6.4rem;
      }

      @media (max-width: $mobile) {
         padding-top: 3.7rem;
      }
   }

   .slider-wrapper-info {
      .info-button-prev, 
      .info-button-next {
         display: none;

         @media (max-width: $tablet) {
            display: block;
         }

         @media (max-width: $mobile) {
            width: 3.5rem;
            height: 3.5rem;
         }
      }

      .slider-wrapper-info {
         overflow: visible;          
         position: relative;       
       }
       
       .js-info-swiper-container {
         overflow: visible;
       }
      
   }

   
   .slider-wrapper-info {
       
      .buttons-wrapper {
         display: flex;
         flex-direction: row;
         gap: 1.5rem;
         // margin-top: 6.75rem;

         @media (max-width: $mobile) {
            gap: 0.7rem;
         }
      }

      
   }

   &__title {
      color: $green;
   }

   &__title-info {
      color: $green;

      @media (max-width: $mobile) {
         padding-bottom: 7rem;
      }
   }

   
    
    

   &__list {
      display: flex;
      flex-direction: row;
      gap: 4rem;
      margin-block: 9.1rem 12.3rem;

      @media (max-width: $tablet) {
         gap: 0;
         margin-block: 1.5rem 4rem;
      }
   }

   &__item-wrapper {
      padding: 2rem 1.6rem 3.2rem 1.7rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      background-color: $black;
      max-width: 26rem;
      height: auto;

      clip-path: polygon(
         0% 0%,
         100% 0%,
         100% calc(100% - 55px),
         calc(100% - 55px) 100%,
         0% 100%
      );


      @media (max-width: $tablet) {
         padding: 2.2rem 2.8rem 2rem 2.4rem;
         gap: 2.4rem;
      }

   }

   &__item-title {
      font-family: $mossport;
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 101%; /* 35.35px */
      text-transform: uppercase;
      color: $green;

      @media (max-width: $tablet) {
         font-size: 2.4rem;
      }
   }

   &__item-text {
      font-family: $myriad;
      font-size: 1.5rem;
      font-weight: 400;
      font-size: 15px;
      line-height: normal;
      color: $white;
   }

   &__svgs-wrapper {
      display: flex;
      flex-direction: row;
      gap: 2.8rem;

      .arrows {
         max-width: 32.3rem;
      }

      .dots {
         max-width: 19rem;

         @media (max-width: $mobile) {
            max-width: 12rem;
         }
      }

      @media (max-width: $mobile) {
         gap: 1.8rem; 

         svg {
            max-width: 100%;
            height: auto;
            display: block;
          }
      }

      .black-arrow {
         width: 9.2rem;

         @media (max-width: $mobile) {
            display: none;

         }
         
      }
   }

   &__content {
      margin-block: 12rem 6.6rem;

      @media (max-width: $tablet) {
         margin-block: 7.3rem 10rem;
      }
   }

   &__text {
      margin-top: 5.4rem;
      max-width: 84.4rem;
      color: $black;
      line-height: normal;

      @media (max-width: $tablet) {
         margin-top: 3.3rem;
      }
   }

   // Slider-zones

   .slider-main-wrapper-zones {
      padding-bottom: 17.5rem;
      position: relative;

      .big-green-arrows-pseudo {
         position: absolute;
         bottom: 0rem;
         left: 38rem;
         width: 42.37rem;

         @media (max-width: $tablet) {
            left: 3rem;
         }
      }

      .slider-wrapper {
         max-width: 127rem;
         margin: 0 auto;
         padding: 0 3rem; 
         position: relative;
       
         @media (max-width: $laptop) {
            max-width: 116rem;
            padding: 0rem;
         }

         @media (max-width: $tablet) {
            min-width: initial;
            max-width: initial;
            padding: 0 24px;
          }
        
          @media (max-width: $mobile) {
            padding: 0 16px;
          }
       
         
   
         .slider__btn {
            position: absolute;
            top: 56%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;

            @media (max-width: $laptop) {
               top: -6rem;
               transform: translateY(0);
            }

            @media (max-width: $mobile) {
               top: -5.5rem;
            }

            img {
               @media (max-width: $mobile) {
                  width: 3.5rem;
                  height: 3.5rem;
                }
            }
            
      
            &--prev {
               left: 0;  

               @media (max-width: $tablet) {
                  padding-left: 2.4rem;
                }

                @media (max-width: $mobile) {
                  padding-left: 1.6rem;
                }
            }
      
            &--next {
               right: 0;  

               @media (max-width: $laptop) {
                  left: 5.81rem;
               }

               @media (max-width: $tablet) {
                  padding-left: 2.4rem;
                  left: 4.81rem;
                }

                @media (max-width: $mobile) {
                  padding-left: 1rem;
                }
            }

            
         }

         // .info-button-prev,
         // .info-button-next {
         //    @media (max-width: $mobile) {
         //       width: 3.5rem;
         //       height: 3.5rem;
         //    }
         // }
   
         .info-button-prev::after,
         .info-button-next::after {
            display: none;
         }
    
      }
       
      .slider {
         width: 116rem;      
         margin: 0 auto;    
         overflow: hidden;

         @media (max-width: $tablet) {
            width: auto;
          }
      } 

      .zone-slider-item {
         display: flex;
         flex-direction: column;
         gap: 2.1rem;
         background-color: $black;
         padding: 4.25rem 1.9rem 2.6rem 3.7rem;
         clip-path: polygon(
            60px 0,
            100% 0,
            100% 100%,
            0 100%,
            0 60px
         );

         @media (max-width: $mobile) {
            gap: 2.3rem;
            padding: 4rem 1.9rem 2.6rem 3.7rem;
         }
      }
   
      .zone-slider-item-title {
         font-family: $mossport;
         font-size: 3.5rem;
         font-weight: 400;
         line-height: 101%; 
         text-transform: uppercase;
         color: $white;

         @media (max-width: $mobile) {
            font-size: 2.4rem;
         }
      }
   
      .zone-slider-item-content {
         font-family: $myriad;
         font-size: 1.5rem;
         font-weight: 400;
         line-height: normal;
         color: $white;
      }
   
      .zone-slider-item-list {
         list-style-type: none;
         margin: 0;
         padding: 0;
         font-family: Mossport;
         font-size: 2.5rem;
         font-weight: 400;
         line-height: 110%; /* 27.5px */
         text-transform: uppercase;
         color: $green;
         
         @media (max-width: $mobile) {
            line-height: 104%;
            margin-top: -0.4rem;
         }
       
         li {
           position: relative;
           padding-left: 2.3rem; 
   
           &::before {
               content: '•'; 
               position: absolute;
               left: 0;
               top: 0;
            }
         }
      } 
   }  
}