.map {
  padding-block: 11.6rem 13rem;
   background-color: $green;

   @media (max-width: $laptop) {
      padding-block: 4rem;
   }

   @media (max-width: $mobile) {
    padding: 4.4rem 0 6rem;
   }

   &__marker {
    display: flex;
    align-items: flex-start;
    padding-top: 1rem;
    justify-content: center;
    text-transform: uppercase;
    font-family: $mossport;
    color: $white;
    width: 3.7rem;
    height: 4.5rem;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="37" height="45" viewBox="0 0 37 45" fill="none"><path d="M18.344 0.916992C28.2325 0.916992 36.2483 8.93381 36.2483 18.8223C36.2478 28.7108 18.344 44.5596 18.344 44.5596C18.2613 44.4863 0.440138 28.6878 0.439697 18.8223C0.439697 8.93384 8.45559 0.917052 18.344 0.916992Z" fill="%23EB3333"/></svg>');
    background-size: contain;
    cursor: pointer;
    font-size: 2.9rem;

    &.is-active {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="37" height="44" viewBox="0 0 37 44" fill="none"><path d="M18.4084 0.136719C28.2969 0.136719 36.3127 8.15353 36.3127 18.042C36.3126 27.9172 18.4562 43.737 18.4084 43.7793C18.3157 43.6971 0.504335 27.9047 0.50415 18.042C0.50415 8.15355 8.52001 0.136749 18.4084 0.136719Z" fill="%233B3393"/></svg>');
    }

    @media (max-width: $mobile) {
      width: 1.9rem;
      height: 2.3rem;
      font-size: 1.5rem;
      padding-top: 0rem;
    }
  }

   .map-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
      align-items: center;
      margin-bottom: 7.4rem;
      position: relative;

      @media (max-width: $laptop) {
         flex-direction: column;
         align-items: start;
         // margin-block: 4.18rem;
         margin-bottom: 3.4rem;
         margin-top: -0.4rem;
         gap: 2rem;
      }

      @media (max-width: $mobile) {
        gap: 3rem;
        margin-bottom: 3.2rem;
      }

      &__title {
         color: $white;
         span {
          display: inline;
         }

         @media (max-width: $mobile) {
          font-size: 5.2rem;
         }

         span {
          @media (max-width: $mobile) {
            display: none;
          }
         }
      }

      .arrows {
         @media (max-width: $laptop) {
            position: absolute;
            right: 0;
            top: 0;
         }

         @media (max-width: $mobile) {
          top: 0.8rem;
         }

      }


      &__place {
         background-color: $bgcolor;
         padding: 1.3rem 6rem 1.3rem 2.45rem;
         clip-path: polygon(
            0% 0%,
            100% 0%,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            0% 100%
         );

         @media (max-width: $mobile) {
            padding: 0.9rem 1.5rem 0.9rem 1.17rem;
         }

      }

      &__place-wrapper {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-between;
         gap: 2.8rem;

         @media (max-width: $tablet) {
            max-width: 100%;
            gap: 1.29rem;
            align-items: start;
            justify-content: start;
         }
      }

      &__place-icon {

         @media (max-width: $mobile) {
            width: 25.358px;
            height: 25.358px;
         }
      }

      &__place-text {
         font-family: $mossport;
         font-size: 3.5rem;
         font-weight: 400;
         line-height: 101%;
         text-transform: uppercase;
         color: $white;
         max-width: 50.1rem;

         @media (max-width: $tablet) {
            max-width: 100%;
         }



         .nowrap {
            white-space: nowrap;
          }
      }
   }

   .map-container {
      padding: 5rem;
      background-color: $white;
      clip-path: polygon(55px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 55px);
      display: flex;
      flex-direction: row;
      gap: 4rem;
      margin-bottom: 7.45rem;

      @media (max-width: $laptop) {
         flex-direction: column;
         gap: 2.2rem;
         margin-bottom: 4rem;
      }

      @media (max-width: $tablet) {
         padding: 3.8rem 3rem;
      }

      @media (max-width: $mobile) {
        clip-path: unset;
        padding: 2.8rem 1.5rem 4.2rem;
      }

      .map-frame-wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
        }

        @media (max-width: $tablet) {
          aspect-ratio: 5 / 4;
        }


        iframe {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          border: 0;
        }
      }

      .map-legend {
        font-family: $mossport;
        text-transform: uppercase;
        width: 30.8rem;
        flex-shrink: 0;
      }

      .map-legend-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 2.4rem;
        line-height: 1;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          font-family: $mossport;
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          background-color: $green;
          flex-shrink: 0;
        }

      }

      .arrow-wrapper {
         display: none;

         @media (max-width: $laptop) {
            display: flex;
            width: 100%;
            justify-content: center;
         }
         }


      .map-visual-wrapper {
         width: 59.8rem;
         height: 58.2rem;
         position: relative;

         @media (max-width: $laptop) {
            width: 100%;
            aspect-ratio: 598 / 582;
            height: auto;
         }

         .loc-item {
            position: absolute;
            z-index: 50;
            top: 28%;
            left: 52%;

            .loc-number-wrapper {
               position: relative;
            }


            .loc-number {
               width: 1.8rem;
               height: 1.8rem;
               border-radius: 50%;
               background-color: $black;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-shrink: 0;
               position: relative;
               z-index: 40;
               color: $bgcolor;
               font-family: $mossport;
               font-size: 1.5rem;
               font-weight: 400;
               line-height: 101%; /* 35.35px */
               text-transform: uppercase;
               transition: background-color 0.3s ease, color 0.3s ease;

               @media (max-width: $mobile) {
                  width: 0.98rem;
                  height: 0.98rem;
                  font-size: 0.82rem;
                }

                &.hovered {
                  background-color: $green;
                  color: $black;

               }
            }

            .loc-desc {
               color: $white;
               font-family: $mossport;
               font-size: 1.5rem;
               font-style: normal;
               font-weight: 400;
               line-height: 101%; /* 15.15px */
               text-transform: uppercase;
               background: $black;
               padding: 0.3rem 0.5rem 0.3rem 1.2rem;
               white-space: nowrap;
               height: 1.7rem;
               display: flex;
               align-items: center;
               position: absolute;
               top: 50%;
               transform: translateY(-50%);
               left: 0.9rem;
               z-index: 30;
               opacity: 0;
               visibility: hidden;
               transform: translateY(-50%) translateX(-0.5rem);
               transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

               &.show {
                  opacity: 1;
                  visibility: visible;
                  transform: translateY(-50%) translateX(0);
               }
             }
         }




         img {
            z-index: 1;
         }

         .map-vector {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
         }


         #locations {
            path[data-index] {
               fill: rgba(112, 180, 45, 0.50);
               transition: fill 0.3s, opacity 0.3s;

               &.hovered {
                  fill: $black;
                  opacity: 0.5;
                }
            }
         }

         .locations-info {

            circle {
               fill: $black;
            }

            path {
               fill: $bgcolor;
            }

            &.hovered {
               circle {
                 fill: $bgcolor;
               }

               path {
                 fill: $black;
               }
             }
         }
      }

      .map-places-list {
         flex: 1;
         display: flex;
         flex-direction: column;
         justify-content: space-between;

         @media (max-width: $laptop) {
           gap: 1rem;
         }
      }

      .map-places-item{
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 2rem;
      }

      .map-places-number {
         width: 3.9rem;
         height: 3.9rem;
         border-radius: 50%;
         background-color: $bgcolor;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-shrink: 0;

         @media (max-width: $mobile) {
            width: 3.2rem;
            height: 3.2rem;
          }
      }

      .map-places-text {
         color: $black;
         font-family: $mossport;
         font-size: 3.5rem;
         font-weight: 400;
         line-height: 101%; /* 35.35px */
         text-transform: uppercase;

         @media (max-width: $mobile) {
            font-size: 2.4rem;
          }
      }
   }

   // .locations-info-text {
   //    padding: .3rem .2rem .5rem 1.2rem;
   //    position: absolute;
   //    background-color: $black;
   //    color: $white;
   //    font-family: $mossport;
   //    font-size: 1.5rem;
   //    font-weight: 400;
   //    line-height: 101%; /* 15.15px */
   //    text-transform: uppercase;
   // }

   &__svgs-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $laptop) {
         gap: 1.4rem;
      }

      svg {
         @media (max-width: $laptop) {
            height: 4;
         }
      }

      .crosses {
         @media (max-width: $laptop) {
            display: none;
         }
      }
   }

      &__decor {
        &--desktop {
          display: block;
          @media (max-width: $mobile) {
            display: none;
          }
        }

        &--mobile {
          display: none;

          @media (max-width: $mobile) {
            display: block;
            width: 100%;
          }
      }
    }
}















