.nav {
  display: flex;

  &--mobile {
    display: none;
  }

  @media (max-width: $tablet) {
    padding: 1.33rem 1rem 0 0;
  }

  @media (max-width: $mobile) {
    padding: 0;
    display: none;

    &--mobile {
      display: flex;
    }
  }

  &__mobile-toggler {
    position: fixed;
    background: none;
    border: none;
    top: 2.6rem;
    right: 1.5rem;
    z-index: 70;
  }

  &__wrapper {
    @media (max-width: $mobile) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black-100;
      z-index: 72;
      padding: 6.7rem 2.6rem;
      background-image: url("../img/nav/arrows-up.svg");
      background-repeat: no-repeat;
      background-position: right bottom;

      .nav.is-active & {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav__list li:last-child {
      margin-top: 1rem;
   }

  &__close {
    position: absolute;
    top: 2.3rem;
    right: 1.6rem;
    background: none;
    border: none;
    width: 3.5rem;
    height: 3.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__item {
   color: $white;
   font-family: $mossport;
   font-size: 3.6rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   text-transform: uppercase;
   text-decoration: none;

   //  margin: 0 1.3rem;

   //  @media (max-width: $tablet) {
   //    margin: 0 0.8rem;
   //  }

   //  @media (max-width: $mobile) {
   //    margin: 0;
   //  }

  }

   &__item-btn {
      padding: 10px;
      background-color: $bgcolor;
      color: $black-100;
      font-family: $mossport;
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin-top: 1.5rem;
      text-decoration: none;
   }
}
