.partners {
   padding-block: 14.5rem 7.1rem;
   background-color: $white;

   @media (max-width: $tablet) {
      padding-block: 9rem 7.1rem;
    }

   @media (max-width: $mobile) {
      padding-block: 4rem 7.1rem;
    }

   .partners-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }

   &__title {
      color: $green;

      @media (max-width: $laptop) {
         max-width: 40rem;
       }
   }

   .partners-header-svgs {
      display: flex;
      flex-direction: row;
      gap: 1.35rem;

      @media (max-width: $tablet) {
         flex-direction: column;
         gap: 2.24rem;
       }

      .six-crosses {
         @media (max-width: $tablet) {
            display: none;
          }
      }

      .three-crosses {
         display: none;
         @media (max-width: $tablet) {
            display: block;
            
          }
      }
   }

   &__list-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-block: 12.1rem 7.9rem;

      @media (max-width: $tablet) {
         margin-block: 4.3rem 7.9rem;

      }
   }

   &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 5.66rem;
      column-gap: 7rem;

      @media (max-width: $tablet) {
         row-gap: 2.57rem;
         // column-gap: 3.8rem;
         width: 100%;
         column-gap: unset; // лишнее
         justify-items: stretch; 
      }

   }

   &__item {
      width: auto;
      height: 6.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__dots-image {
      img {
         @media (max-width: $mobile) {
            width: 16.4rem;
         }
      }
   }
}










// .partners {

//   .container {
//     padding: 0;
//   }

//   &__title {
//     @media (max-width: $tablet) {
//       margin: 0 0 3.3rem;
//     }

//     @media (max-width: $mobile) {
//       margin: 0 0 4rem;
//     }
//   }

//   &__wrapper {
//     display: flex;
//     gap: 3.5rem;

//     @media (max-width: $tablet) {
//       gap: 6.5rem;
//     }

//     @media (max-width: $mobile) {
//       flex-direction: column;
//       gap: 0;
//     }
//   }

//   &__decor {
//     flex-shrink: 0;
//     position: relative;
//     right: 6.5rem;
//     bottom: 4rem;

//     @media (max-width: $tablet) {
//       right: -2.4rem;
//       bottom: 3.1rem;
//       width: 31.7rem;
//     }

//     @media (max-width: $mobile) {
//       right: -1.9rem;
//       bottom: 2.1rem;
//       width: 34rem;
//     }
//   }

//   &__content {
//     padding: 10rem 0 0;

//     @media (max-width: $tablet) {
//       padding: 3.5rem 0 0;
//     }

//     @media (max-width: $mobile) {
//       padding: 2.8rem 1.6rem 0;
//     }
//   }

//   &__blocks {
//     display: flex;
//     gap: 3.9rem;
//     flex-wrap: wrap;

//     &:not(:last-child) {
//       margin: 0 0 10.4rem;
//     }

//     @media (max-width: $tablet) {
//       gap: 2.6rem;
//       max-width: 46.5rem;

//       &:not(:last-child) {
//         margin: 0 0 10rem;
//       }
//     }

//     @media (max-width: $mobile) {

//       &:not(:last-child) {
//         margin: 0 0 9rem;
//       }
//     }
//   }

//   &__logo {
//     width: 16rem;
//     height: 5.9rem;

//     @media (max-width: $tablet) {
//       width: 9.6rem;
//       height: 3.2rem;
//     }
//   }

// }
