.schedule {
   // padding-block: 14.5rem 28.3rem;
   padding-top: 14.5rem;
   background-color: $bgcolor;

   .schedule-container {
      position: relative;

      .arrows-pseudo{
         display: flex;
         flex-direction: row;
         gap: 7.26rem;
         position: absolute;
         top: -7rem;
         right: 3rem;
      }

      .crosses-pseudo {
         position: absolute;
         top: 17rem;
         right: 30%;
      }
   }

   &__title-big {
      color: $white;
      font-family: $mossport;
      font-size: 9rem;
      font-weight: 400;
      line-height: 101%; /* 90.9px */
      text-transform: uppercase;
   }

   &__title-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-block: 10.1rem 6.8rem;
   }

   &__title-medium {
      color: $white;
      font-family: $mossport;
      font-size: 6rem;
      font-weight: 400;
      line-height: 101%; /* 90.9px */
      text-transform: uppercase;
   }


   &__content-link-wrapper-top,
   &__content-link-wrapper-bottom {
      width: 22.9rem;
      height: 3.8rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   &__content-link-wrapper-top {
      background-color: $red;
   }

   &__content-link-wrapper-text {
      font-family: Mossport;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      color: $white;
   }

   &__content-link-wrapper-bottom {
      background-color: $white;
   }

   &__content-link-wrapper-bottom a {
      font-family: "Myriad Pro";
      font-size: 1.5rem;
      font-weight: 400;
   }

   //Stages

   .stage-container {
      background-color: $black;
      padding: 5.5rem 6rem;
   }

   .stage-switcher {

      &__buttons {
         display: flex;
         flex-direction: row;
         gap: 4rem;
      }

      .stage-btn {
         width: 100%;
         padding-block: 1rem;
         background-color:  $white;
         border: transparent;
         color: $green;
         font-family: $mossport;
         font-size: 4rem;
         font-weight: 400;
         line-height: 101%; /* 40.4px */
         text-transform: uppercase;
      }

      &__text {
         max-width: 84.4rem;
         color: $white;
         font-family: "Myriad Pro";
         font-size: 2.5rem;
         font-weight: 400;
         line-height: normal;
      }
   }


   .schedule-block-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 4.5rem;
      row-gap: 3.5rem;
   }

   .schedule-block-title {
      color: $green;
      font-family: $mossport;
      font-size: 4rem;
      font-weight: 400;
      line-height: 101%; /* 40.4px */
      text-transform: uppercase;
   }

   .schedule-block-item {
      padding: 1.7rem 1.3rem;
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
   }

   .schedule-block-time {
      color: $green;
      font-family: $mossport;
      font-size: 4rem;
      font-weight: 400;
      line-height: 101%; /* 40.4px */
      text-transform: uppercase;
   }

   .schedule-block-image-wrapper {
      width: 100%;
      height: 11.3rem;
      background-color: gray;
   }

   .schedule-block-desc {
      color: $black;
      font-family: $myriad;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
   }

   .schedule-block-registration {
      padding: 0.3rem 1rem;
      background-color: $bgcolor;
      color: $black;
      font-family: $myriad;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      max-width: fit-content;
   }

   .stage-content,
   .stage-switcher {
      display: flex;
      flex-direction: column;
      gap: 5.5rem;
      z-index: 5;
   }

   // .stage-container {
   //    position: relative;

   //    .arrow-down-pseudo {
   //       position: absolute;
   //       right: 0rem;
   //       bottom: -15rem;
   //       z-index: -1;
   //    }
   // }

   .stage-switcher__content .stage-content {
      display: none;
   }
   
   .stage-switcher__content .stage-content.active {
      display: flex;
   }
   
   .stage-btn.active {
      background-color: $green;
      color: $white;
   }

   // Trainings

   &__dots-wrapper {
      padding-block: 7.8rem 9.65rem;
      position: relative;
      overflow: hidden;


      .arrow-down-pseudo {
         position: absolute;
         right: 0rem;
         top: -10rem;
         z-index: 0;
      }
   }

   &__text {
      padding-block: 6.7rem;
      color: $black;
      font-family: $myriad;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: normal;

      position: relative;
      overflow: hidden;

      .arrows-green-big-pseudo {
         position: absolute;
         right: 0;
         top: 11rem;
      }
   }

   .slider-fitness-wrapper {
      position: relative;
      height: 7.6rem;
      margin-bottom: 7.55rem;
      

      .slider__btn {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 10;
   
         &--prev {
            left: 0;  
         }
   
         &--next {
            right: 0;  
         }
      }

      .info-button-prev::after,
      .info-button-next::after {
         display: none;
      }
 
   }

   .slider {
      width: 80rem;      
      margin: 0 auto;    
      overflow: hidden;
   } 

   .schedule-fitness-wrapper {
      
      display: flex;
      flex-direction: column;
      gap: 6.4rem;

      .schedule-fitness-wrapper-item {
         display: flex;
         flex-direction: column;
         gap: 6.4rem;
      }
   }


   &__svgs-wrapper {
      margin-top: 3.4rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }
    
}